<link rel="stylesheet" href="../css/global.css" type="text/css"/>
<link rel="stylesheet" href="../css/map.css"/>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.2"></script>
<style type="text/css">
    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        /*font-family: "微软雅黑";*/
    }

    #allmap {
        width: 100%;
        height: 353px;
    }

    p {
        margin-left: 5px;
        font-size: 14px;
    }
    .dropdown-menu {
        top: 104%!important;
        width: 200px;
    }
    .breadcrumb {
        margin-bottom: 0;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 8px;
        overflow: hidden;
    }
    .breadcrumb>li+li:before {
        display: none;
    }
    .breadcrumb>li+li{
        padding: 0 0 0 60px;
        line-height: 97px;
        background: url("images/breacrum.png") no-repeat scroll 16px 0;
    }
    #zo2-breadcrumb-wrap li {
        float: left;
        display: block;
        line-height: 91px;
        font-size: 14px;
        position: relative;
        text-transform: capitalize;}
    .fa-map-marker{
        font-size: 25px;
        color: #0c80d1;
        padding-right: 15px;
    }
</style>
<section class="middle-img">
    <img src="./images/images-top.jpg" alt="top.logo" width="100%"/>
    <span>客户服务</span>
    <hr/>
</section>

<section class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div id="zo2-position-2" class="breadcrumb col-md-12 col-sm-12">
                <ul class="breadcrumb">
                    <li>
                        <span class="fa fa-map-marker"></span>
                        <a href="#" class="pathway">首页</a>
                        <span class="divider" style="position: relative">
                            <!--<img src="images/breacrum.png" alt=""/>-->
                        </span>
                    </li>
                    <li>
                        <a href="#" class="pathway">联系方式</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="body-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="page">
                    <h1>
                        <span class="contact-name">联系我们</span>
                    </h1>
                    <p>Don't hesitate to get in touch with us, We would love to discuss on your project.</p>
                </div>
            </div>
            <div class="address col-md-4">
                <h3>Get in Touch</h3>
                <div class="contact-address">
                    <p>
                    <span style="font-size: 14px">
                        <strong>上海润滋信息科技有限公司<br/></strong>
                    </span>
                        热线：400-136-1181<br/>
                        联系人：吴先生<br/>
                        手机：150-0005-6367<br/>
                        地址：上海市普陀区同普路1501弄47号102室<br/>
                    </p>
                </div>
            </div>

            <div class="col-md-8">
                <div class="contact-address">
                    <div class="contact-form">
                        <form enctype="multipart/form-data" id="contact-form" method="post" class="form-validate form-horizontal">
                            <fieldset>
                                <div class="control-group contact-name">
                                    <div class="control-label">
                                        <label class="hasTooltip required" title="<strong>Name</strong><br />Your name.">姓名 <span class="star"> *</span></label>
                                    </div>
                                    <div class="controls">
                                        <input type="text" name="username" value="" class="required" size="30" required aria-required="true" />
                                    </div>
                                </div>

                                <div class="control-group contact-subject">
                                    <div class="control-label">
                                        <label class="hasTooltip required" title="<strong>Name</strong><br />Your name.">标题 <span class="star"> *</span></label>
                                    </div>
                                    <div class="controls">
                                        <input type="text" name="username" value="" class="required" size="30" required aria-required="true" />
                                    </div>
                                </div>


                                <div class="control-group contact-name">
                                    <div class="control-label">
                                        <label class="hasTooltip required" title="<strong>Name</strong><br />Your name.">固话 <span class="star"> *</span></label>
                                    </div>
                                    <div class="controls">
                                        <input type="text" name="username" value="" class="required" size="30" required aria-required="true" />
                                    </div>
                                </div>

                                <div class="control-group contact-subject">
                                    <div class="control-label">
                                        <label class="hasTooltip required" title="<strong>Name</strong><br />Your name.">手机 <span class="star"> *</span></label>
                                    </div>
                                    <div class="controls">
                                        <input type="text" name="username" value="" class="required" size="30" required aria-required="true" />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="control-label">
                                        <label class="hasTooltip required" title="<strong>Name</strong><br />Your name.">Email <span class="star"> *</span></label>
                                    </div>
                                    <div class="controls">
                                        <input type="text" name="username" value="" class="required" size="30" required aria-required="true" />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="control-label">
                                        <label class="hasTooltip required" title="<strong>Name</strong><br />Your name.">内容 <span class="star"> *</span></label>
                                    </div>
                                    <div class="controls">
                                        <textarea name="content" class="required" cols="50" rows="10" required="required" aria-required="true"></textarea>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button class="btn btn-primary validate" type="submit">提交</button>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="zo2-contact-map-wrap" class="">
    <div class="container">
        <div class="row">
            <div id="zo2-position-22" class="col-md-12 col-sm-12">

                <div class="custom">

                </div>
            </div>
        </div>
    </div>
</section>
<!--  地图 -->
<div id="allmap"
     style="overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;">
    <div style="overflow: visible; position: absolute; z-index: 0; left: 176px; top: 150px; cursor: url(images/openhand.cur) 8 8, default;">
        <div class="BMap_mask"
             style="position: absolute; left: -176px; top: -150px; z-index: 9; overflow: hidden; user-select: none; width: 1600px; height: 353px;"></div>
        <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;">
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 800;">
                <div class="BMap_pop"
                     style="box-sizing: content-box; position: absolute; cursor: default; left: 512px; top: -57px;">
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 0px; top: 0px; width: 25px; height: 25px;">
                        <div style="box-sizing:content-box;background:#fff;border-top:1px solid #ababab;border-left:1px solid #ababab;width:30px;height:30px;"></div>
                    </div>
                    <div class="BMap_top"
                         style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 25px; top: 0px; width: 249px; height: 25px;"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 274px; top: 0px; width: 25px; height: 25px;">
                        <div style="box-sizing:content-box;position:absolute;top:0;left:-6px;background:#fff;border-top:1px solid #ababab;border-right:1px solid #ababab;width:30px;height:30px;"></div>
                    </div>
                    <div class="BMap_center"
                         style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 0px; top: 25px; width: 297px; height: 62px;"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 0px; top: 87px; width: 25px; height: 25px;">
                        <div style="box-sizing:content-box;position:absolute;top:-6px;left:0;background:#fff;border-bottom:1px solid #ababab;border-left:1px solid #ababab;width:30px;height:30px;"></div>
                    </div>
                    <div class="BMap_bottom"
                         style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 25px; top: 87px; width: 249px; height: 24px;"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 274px; top: 87px; width: 25px; height: 25px;">
                        <div style="box-sizing:content-box;position:absolute;top:-6px;left:-6px;background:#fff;border-right:1px solid #ababab;border-bottom:1px solid #ababab;width:30px;height:30px;"></div>
                    </div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 133px; top: 87px; width: 34px; height: 50px;">
                        <img style="box-sizing:content-box;border:none;margin:0px;padding:0px;margin-left:-186px;margin-top:-691px;max-width:none; width:690px;height:786px;"
                             src="images/iw3.png" data-bd-imgshare-binded="1"></div>
                    <div style="box-sizing: content-box; width: 267px; height: 80px; position: absolute; left: 16px; top: 16px; z-index: 10; overflow: hidden;">
                        <div class="BMap_bubble_title"
                             style="display: none; overflow: hidden; height: auto; line-height: 24px; white-space: nowrap; width: auto;"></div>
                        <div class="BMap_bubble_content" style="width: auto; height: auto;">
                            <strong>上海润滋信息科技有限公司</strong><br>联系电话：400-136-1181/15000083578<br>联系地址：上海市普陀区同普路1501弄47号102室
                        </div>
                        <div class="BMap_bubble_max_content" style="display:none;position:relative"></div>
                    </div>
                    <img style="position: absolute; top: 12px; width: 10px; height: 10px; cursor: pointer; z-index: 10000; left: 274px;"
                         src="images/iw_close1d3.gif" data-bd-imgshare-binded="1"><img
                        style="position:absolute;top:12px;width:10px;height:10px;-moz-user-select:none;cursor:pointer;z-index:10000;display:none"
                        src="images/quanjing.png" title="进入全景"
                        data-bd-imgshare-binded="1"><img
                        style="position:absolute;top:10px;width:9px;height:14px;-moz-user-select:none;cursor:pointer;z-index:10000;display:none;"
                        src="images/phone.png" title="发送到手机" data-bd-imgshare-binded="1"><img
                        style="position: absolute; top: 12px; width: 10px; height: 10px; cursor: pointer; z-index: 10000; display: none; left: 254px;"
                        src="images/iw_plus1d3.gif" data-bd-imgshare-binded="1">

                    <div style="position: absolute; top: 0px; left: 0px; z-index: 10000; width: 299px;"></div>
                </div>
            </div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 700;"><span
                    class="BMap_Marker BMap_noprint" unselectable="on" "="" style="position: absolute; padding: 0px;
                margin: 0px; border: 0px; cursor: pointer; background: url(&quot;images/blank.gif&quot;);
                width: 19px; height: 25px; left: 635px; top: 54px; z-index: -6247606;" title=""></span><span
                        class="BMap_Marker BMap_noprint" unselectable="on" "="" style="position: absolute; padding: 0px;
                margin: 0px; border: 0px; cursor: pointer; background: url(&quot;images/blank.gif&quot;);
                width: 1px; height: 1px; left: 645px; top: 79px; z-index: -6247606;" title=""></span><span
                        class="BMap_Marker BMap_noprint" unselectable="on" "="" style="position: absolute; padding: 0px;
                margin: 0px; border: 0px; cursor: pointer; background: url(&quot;images/blank.gif&quot;);
                width: 18px; height: 18px; left: 575px; top: 59px; z-index: 19000000; user-select: none;"
                title=""></span></div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 600;">
                <div class="BMap_shadow" style="position: absolute; left: 490px; top: 0px;" type="infowindow_shadow">
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 48px; top: 0px; width: 70px; height: 30px;">
                        <img onmousedown="return false" style="margin-left: -323px; margin-top: 0px;"
                             src="http://api0.map.bdimg.com/images/iws3.png" data-bd-imgshare-binded="1"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 118px; top: 0px; width: 211px; height: 30px;">
                        <img onmousedown="return false" style="margin-left: -393px; margin-top: 0px;"
                             src="http://api0.map.bdimg.com/images/iws3.png" data-bd-imgshare-binded="1"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 329px; top: 0px; width: 70px; height: 30px;">
                        <img onmousedown="return false" style="margin-left: -1033px; margin-top: 0px;"
                             src="http://api0.map.bdimg.com/images/iws3.png" data-bd-imgshare-binded="1"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 29px; top: 30px; width: 89px; height: 19px;">
                        <img onmousedown="return false" style="margin-top: -30px; margin-left: -304px;"
                             src="http://api0.map.bdimg.com/images/iws3.png" data-bd-imgshare-binded="1"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 118px; top: 30px; width: 221px; height: 19px;">
                        <img onmousedown="return false" style="margin-left: -360px; margin-top: -30px;"
                             src="http://api0.map.bdimg.com/images/iws3.png" data-bd-imgshare-binded="1"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 339px; top: 30px; width: 89px; height: 19px;">
                        <img onmousedown="return false" style="margin-top: -30px; margin-left: -1044px;"
                             src="http://api0.map.bdimg.com/images/iws3.png" data-bd-imgshare-binded="1"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 0px; top: 49px; width: 50px; height: 60px;">
                        <img onmousedown="return false" style="margin-left: -14px; margin-top: -310px;"
                             src="http://api0.map.bdimg.com/images/iws3.png" data-bd-imgshare-binded="1"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 50px; top: 49px; width: 35px; height: 60px;">
                        <img onmousedown="return false" style="margin-left: -255px; margin-top: -310px;"
                             src="http://api0.map.bdimg.com/images/iws3.png" data-bd-imgshare-binded="1"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 85px; top: 49px; width: 140px; height: 60px;">
                        <img onmousedown="return false" style="margin-left: -440px; margin-top: -310px;"
                             src="http://api0.map.bdimg.com/images/iws3.png" data-bd-imgshare-binded="1"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 225px; top: 49px; width: 85px; height: 60px;">
                        <img onmousedown="return false" style="margin-left: -255px; margin-top: -310px;"
                             src="http://api0.map.bdimg.com/images/iws3.png" data-bd-imgshare-binded="1"></div>
                    <div style="box-sizing: content-box; overflow: hidden; z-index: 1; position: absolute; left: 310px; top: 49px; width: 70px; height: 60px;">
                        <img onmousedown="return false" style="margin-left: -754px; margin-top: -310px;"
                             src="http://api0.map.bdimg.com/images/iws3.png" data-bd-imgshare-binded="1"></div>
                </div>
            </div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 500;"><label
                    class="BMapLabel" unselectable="on"
                    style="position: absolute; display: none; cursor: inherit; background-color: rgb(190, 190, 190); border: 1px solid rgb(190, 190, 190); padding: 1px; white-space: nowrap; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: arial, sans-serif; z-index: -20000; color: rgb(190, 190, 190);">shadow</label><label
                    class="BMapLabel" unselectable="on"
                    style="position: absolute; cursor: inherit; background-color: rgb(255, 255, 225); border: 1px solid rgb(140, 140, 140); padding: 1px; white-space: nowrap; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: arial, sans-serif; z-index: -6221054; user-select: none; color: rgb(77, 77, 77); left: -177px; top: 213px;">点击可查看详情</label>
            </div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 400;"><span
                    class="BMap_Marker" unselectable="on"
                    style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 0px; height: 0px; left: 635px; top: 54px; z-index: -6247606;"><div
                    style="position: absolute; margin: 0px; padding: 0px; width: 19px; height: 25px; overflow: hidden;">
                <img src="http://api0.map.bdimg.com/images/marker_red_sprite.png"
                     style="display: block; border:none;margin-left:0px; margin-top:0px; " data-bd-imgshare-binded="1">
            </div></span><span class="BMap_Marker" unselectable="on"
                               style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 0px; height: 0px; left: 645px; top: 79px; z-index: -6247606;"><div
                    style="position: absolute; margin: 0px; padding: 0px; width: 1px; height: 1px; overflow: hidden;">
                <img src="http://api0.map.bdimg.com/images/blank.gif"
                     style="display: block; border:none;margin-left:0px; margin-top:0px; " data-bd-imgshare-binded="1">
            </div></span><span class="BMap_Marker" unselectable="on"
                               style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 0px; height: 0px; left: 575px; top: 59px; z-index: 19000000;"><div
                    style="position: absolute; margin: 0px; padding: 0px; width: 18px; height: 18px; overflow: hidden;">
                <img src="http://api0.map.bdimg.com/images/spotmkrs.png"
                     style="display: block; border:none;margin-left:-214px; margin-top:-226px; "></div></span></div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 300;"><span
                    unselectable="on"
                    style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 20px; height: 11px; left: 639px; top: 68px;"><div
                    style="position: absolute; margin: 0px; padding: 0px; width: 20px; height: 11px; overflow: hidden;">
                <img src="http://api0.map.bdimg.com/images/marker_red_sprite.png"
                     style="display: block; border:none;margin-left:-19px; margin-top:-13px; "
                     data-bd-imgshare-binded="1"></div></span></div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 201;"></div>
            <div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"></div>
        </div>
        <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 1;">
            <div style="position: absolute; overflow: visible; z-index: -100; left: 623px; top: 28px; display: block; transform: translate3d(0px, 0px, 0px);">
                <img src="http://online1.map.bdimg.com/tile/?qt=tile&amp;x=411&amp;y=110&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                     style="position: absolute; border: none; width: 256px; height: 256px; left: -313px; top: 83px; max-width: none; opacity: 1;"><img
                    src="http://online0.map.bdimg.com/tile/?qt=tile&amp;x=410&amp;y=110&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: -569px; top: 83px; max-width: none; opacity: 1;"><img
                    src="http://online2.map.bdimg.com/tile/?qt=tile&amp;x=412&amp;y=110&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: -57px; top: 83px; max-width: none; opacity: 1;"><img
                    src="http://online3.map.bdimg.com/tile/?qt=tile&amp;x=413&amp;y=110&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: 199px; top: 83px; max-width: none; opacity: 1;"><img
                    src="http://online4.map.bdimg.com/tile/?qt=tile&amp;x=409&amp;y=110&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: -825px; top: 83px; max-width: none; opacity: 1;"><img
                    src="http://online4.map.bdimg.com/tile/?qt=tile&amp;x=414&amp;y=110&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: 455px; top: 83px; max-width: none; opacity: 1;"><img
                    src="http://online2.map.bdimg.com/tile/?qt=tile&amp;x=411&amp;y=111&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: -313px; top: -173px; max-width: none; opacity: 1;"><img
                    src="http://online3.map.bdimg.com/tile/?qt=tile&amp;x=412&amp;y=111&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: -57px; top: -173px; max-width: none; opacity: 1;"><img
                    src="http://online1.map.bdimg.com/tile/?qt=tile&amp;x=410&amp;y=111&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: -569px; top: -173px; max-width: none; opacity: 1;"><img
                    src="http://online0.map.bdimg.com/tile/?qt=tile&amp;x=409&amp;y=111&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: -825px; top: -173px; max-width: none; opacity: 1;"><img
                    src="http://online4.map.bdimg.com/tile/?qt=tile&amp;x=413&amp;y=111&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: 199px; top: -173px; max-width: none; opacity: 1;"><img
                    src="http://online0.map.bdimg.com/tile/?qt=tile&amp;x=414&amp;y=111&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: 455px; top: -173px; max-width: none; opacity: 1;"><img
                    src="http://online0.map.bdimg.com/tile/?qt=tile&amp;x=415&amp;y=110&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: 711px; top: 83px; max-width: none; opacity: 1;"><img
                    src="http://online1.map.bdimg.com/tile/?qt=tile&amp;x=415&amp;y=111&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: 711px; top: -173px; max-width: none; opacity: 1;"><img
                    src="http://online4.map.bdimg.com/tile/?qt=tile&amp;x=412&amp;y=112&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: -57px; top: -429px; max-width: none; opacity: 1;"><img
                    src="http://online1.map.bdimg.com/tile/?qt=tile&amp;x=409&amp;y=112&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: -825px; top: -429px; max-width: none; opacity: 1;"><img
                    src="http://online0.map.bdimg.com/tile/?qt=tile&amp;x=413&amp;y=112&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: 199px; top: -429px; max-width: none; opacity: 1;"><img
                    src="http://online2.map.bdimg.com/tile/?qt=tile&amp;x=415&amp;y=112&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: 711px; top: -429px; max-width: none; opacity: 1;"><img
                    src="http://online1.map.bdimg.com/tile/?qt=tile&amp;x=414&amp;y=112&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: 455px; top: -429px; max-width: none; opacity: 1;"><img
                    src="http://online3.map.bdimg.com/tile/?qt=tile&amp;x=411&amp;y=112&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: -313px; top: -429px; max-width: none; opacity: 1;"><img
                    src="http://online2.map.bdimg.com/tile/?qt=tile&amp;x=410&amp;y=112&amp;z=11&amp;styles=pl&amp;scaler=1&amp;udt=20170301"
                    style="position: absolute; border: none; width: 256px; height: 256px; left: -569px; top: -429px; max-width: none; opacity: 1;">
            </div>
        </div>
        <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 2; display: none; visibility: hidden;">
            <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 0; display: none;"></div>
        </div>
        <div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 3;"></div>
    </div>
    <div class="pano_close" title="退出全景" style="z-index: 1201; display: none;"></div>
    <a class="pano_pc_indoor_exit" title="退出室内景" style="z-index: 1201; display: none;"><span
            style="float:right;margin-right:12px;">出口</span></a>

    <div class=" anchorBL"
         style="height: 32px; position: absolute; z-index: 30; text-size-adjust: none; bottom: 20px; right: auto; top: auto; left: 1px;">
        <a title="到百度地图查看此区域" target="_blank" href="http://map.baidu.com/?sr=1" style="outline: none;"><img
                style="border:none;width:77px;height:32px" src="http://api0.map.bdimg.com/images/copyright_logo.png"
                data-bd-imgshare-binded="1"></a></div>
    <div id="zoomer"
         style="position:absolute;z-index:0;top:0px;left:0px;overflow:hidden;visibility:hidden;cursor:url(images/openhand.cur) 8 8,default">
        <div class="BMap_zoomer" style="top:0;left:0;"></div>
        <div class="BMap_zoomer" style="top:0;right:0;"></div>
        <div class="BMap_zoomer" style="bottom:0;left:0;"></div>
        <div class="BMap_zoomer" style="bottom:0;right:0;"></div>
    </div>
    <div unselectable="on" class=" BMap_stdMpCtrl BMap_stdMpType0 BMap_noprint anchorTL"
         style="width: 62px; height: 192px; bottom: auto; right: auto; top: 10px; left: 10px; position: absolute; z-index: 1100; text-size-adjust: none;">
        <div class="BMap_stdMpPan">
            <div class="BMap_button BMap_panN" title="向上平移"></div>
            <div class="BMap_button BMap_panW" title="向左平移"></div>
            <div class="BMap_button BMap_panE" title="向右平移"></div>
            <div class="BMap_button BMap_panS" title="向下平移"></div>
            <div class="BMap_stdMpPanBg BMap_smcbg"></div>
        </div>
        <div class="BMap_stdMpZoom" style="height: 147px; width: 62px;">
            <div class="BMap_button BMap_stdMpZoomIn" title="放大一级">
                <div class="BMap_smcbg"></div>
            </div>
            <div class="BMap_button BMap_stdMpZoomOut" title="缩小一级" style="top: 126px;">
                <div class="BMap_smcbg"></div>
            </div>
            <div class="BMap_stdMpSlider" style="height: 108px;">
                <div class="BMap_stdMpSliderBgTop" style="height: 108px;">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_stdMpSliderBgBot" style="top: 49px; height: 63px;"></div>
                <div class="BMap_stdMpSliderMask" title="放置到此级别"></div>
                <div class="BMap_stdMpSliderBar" title="拖动缩放"
                     style="cursor: url(images/openhand.cur) 8 8, default; top: 49px;">
                    <div class="BMap_smcbg"></div>
                </div>
            </div>
            <div class="BMap_zlHolder">
                <div class="BMap_zlSt">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlCity">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlProv">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlCountry">
                    <div class="BMap_smcbg"></div>
                </div>
            </div>
        </div>
        <div class="BMap_stdMpGeolocation"
             style="position: initial; display: none; margin-top: 43px; margin-left: 10px;">
            <div class="BMap_geolocationContainer"
                 style="position: initial; width: 24px; height: 24px; overflow: hidden; margin: 0px; box-sizing: border-box;">
                <div class="BMap_geolocationIconBackground"
                     style="width: 24px; height: 24px; background-image: url(images/bg-20x20.png); background-size: 20px 20px; background-position: 3px 3px; background-repeat: no-repeat;">
                    <div class="BMap_geolocationIcon"
                         style="position: initial; width: 24px; height: 24px; cursor: pointer; background-image: url('images/success-10x10.png'); background-size: 10px 10px; background-repeat: no-repeat; background-position: center;"></div>
                </div>
            </div>
        </div>
    </div>
    <div unselectable="on" class=" BMap_stdMpCtrl BMap_stdMpType1 BMap_noprint anchorTR"
         style="width: 37px; height: 97px; bottom: auto; right: 10px; top: 10px; left: auto; position: absolute; z-index: 1100; text-size-adjust: none;">
        <div class="BMap_stdMpPan">
            <div class="BMap_button BMap_panN" title="向上平移"></div>
            <div class="BMap_button BMap_panW" title="向左平移"></div>
            <div class="BMap_button BMap_panE" title="向右平移"></div>
            <div class="BMap_button BMap_panS" title="向下平移"></div>
            <div class="BMap_stdMpPanBg BMap_smcbg"></div>
        </div>
        <div class="BMap_stdMpZoom" style="height: 42px; width: 37px;">
            <div class="BMap_button BMap_stdMpZoomIn" title="放大一级" style="background-position: 0px -221px;">
                <div class="BMap_smcbg"></div>
            </div>
            <div class="BMap_button BMap_stdMpZoomOut" title="缩小一级" style="top: 21px;">
                <div class="BMap_smcbg"></div>
            </div>
            <div class="BMap_stdMpSlider" style="height: 0px;">
                <div class="BMap_stdMpSliderBgTop" style="height: 0px;">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_stdMpSliderBgBot"></div>
                <div class="BMap_stdMpSliderMask" title="放置到此级别"></div>
                <div class="BMap_stdMpSliderBar" title="拖动缩放"
                     style="cursor: url(&quot;http://api0.map.bdimg.com/images/openhand.cur&quot;) 8 8, default;">
                    <div class="BMap_smcbg"></div>
                </div>
            </div>
            <div class="BMap_zlHolder">
                <div class="BMap_zlSt">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlCity">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlProv">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlCountry">
                    <div class="BMap_smcbg"></div>
                </div>
            </div>
        </div>
        <div class="BMap_stdMpGeolocation"
             style="position: initial; display: none; margin-top: 43px; margin-left: 10px;">
            <div class="BMap_geolocationContainer"
                 style="position: initial; width: 24px; height: 24px; overflow: hidden; margin: 0px; box-sizing: border-box;">
                <div class="BMap_geolocationIconBackground"
                     style="width: 24px; height: 24px; background-image: url(http://api0.map.bdimg.com/images/navigation-control/geolocation-control/pc/bg-20x20.png); background-size: 20px 20px; background-position: 3px 3px; background-repeat: no-repeat;">
                    <div class="BMap_geolocationIcon"
                         style="position: initial; width: 24px; height: 24px; cursor: pointer; background-image: url('http://api0.map.bdimg.com/images/navigation-control/geolocation-control/pc/success-10x10.png'); background-size: 10px 10px; background-repeat: no-repeat; background-position: center;"></div>
                </div>
            </div>
        </div>
    </div>
    <div unselectable="on" class=" BMap_stdMpCtrl BMap_stdMpType2 BMap_noprint anchorBL"
         style="width: 37px; height: 57px; bottom: 10px; right: auto; top: auto; left: 10px; position: absolute; z-index: 1100; text-size-adjust: none;">
        <div class="BMap_stdMpPan" style="background-position: 0px 0px;">
            <div class="BMap_button BMap_panN" title="向上平移"></div>
            <div class="BMap_button BMap_panW" title="向左平移"></div>
            <div class="BMap_button BMap_panE" title="向右平移"></div>
            <div class="BMap_button BMap_panS" title="向下平移"></div>
            <div class="BMap_stdMpPanBg BMap_smcbg"></div>
        </div>
        <div class="BMap_stdMpZoom" style="height: 0px; width: 37px;">
            <div class="BMap_button BMap_stdMpZoomIn" title="放大一级">
                <div class="BMap_smcbg"></div>
            </div>
            <div class="BMap_button BMap_stdMpZoomOut" title="缩小一级" style="top: -21px;">
                <div class="BMap_smcbg"></div>
            </div>
            <div class="BMap_stdMpSlider" style="height: 0px;">
                <div class="BMap_stdMpSliderBgTop" style="height: 0px;">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_stdMpSliderBgBot"></div>
                <div class="BMap_stdMpSliderMask" title="放置到此级别"></div>
                <div class="BMap_stdMpSliderBar" title="拖动缩放"
                     style="cursor: url(&quot;http://api0.map.bdimg.com/images/openhand.cur&quot;) 8 8, default;">
                    <div class="BMap_smcbg"></div>
                </div>
            </div>
            <div class="BMap_zlHolder">
                <div class="BMap_zlSt">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlCity">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlProv">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlCountry">
                    <div class="BMap_smcbg"></div>
                </div>
            </div>
        </div>
        <div class="BMap_stdMpGeolocation"
             style="position: initial; display: none; margin-top: 43px; margin-left: 10px;">
            <div class="BMap_geolocationContainer"
                 style="position: initial; width: 24px; height: 24px; overflow: hidden; margin: 0px; box-sizing: border-box;">
                <div class="BMap_geolocationIconBackground"
                     style="width: 24px; height: 24px; background-image: url(http://api0.map.bdimg.com/images/navigation-control/geolocation-control/pc/bg-20x20.png); background-size: 20px 20px; background-position: 3px 3px; background-repeat: no-repeat;">
                    <div class="BMap_geolocationIcon"
                         style="position: initial; width: 24px; height: 24px; cursor: pointer; background-image: url('http://api0.map.bdimg.com/images/navigation-control/geolocation-control/pc/success-10x10.png'); background-size: 10px 10px; background-repeat: no-repeat; background-position: center;"></div>
                </div>
            </div>
        </div>
    </div>
    <div unselectable="on" class=" BMap_stdMpCtrl BMap_stdMpType3 BMap_noprint anchorBR"
         style="width: 22px; height: 42px; bottom: 10px; right: 10px; top: auto; left: auto; position: absolute; z-index: 1100; text-size-adjust: none;">
        <div class="BMap_stdMpPan">
            <div class="BMap_button BMap_panN" title="向上平移"></div>
            <div class="BMap_button BMap_panW" title="向左平移"></div>
            <div class="BMap_button BMap_panE" title="向右平移"></div>
            <div class="BMap_button BMap_panS" title="向下平移"></div>
            <div class="BMap_stdMpPanBg BMap_smcbg"></div>
        </div>
        <div class="BMap_stdMpZoom" style="height: 42px; width: 22px;">
            <div class="BMap_button BMap_stdMpZoomIn" title="放大一级" style="left: 0px;">
                <div class="BMap_smcbg"></div>
            </div>
            <div class="BMap_button BMap_stdMpZoomOut" title="缩小一级" style="top: 21px; left: 0px;">
                <div class="BMap_smcbg"></div>
            </div>
            <div class="BMap_stdMpSlider" style="height: 0px;">
                <div class="BMap_stdMpSliderBgTop" style="height: 0px;">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_stdMpSliderBgBot"></div>
                <div class="BMap_stdMpSliderMask" title="放置到此级别"></div>
                <div class="BMap_stdMpSliderBar" title="拖动缩放"
                     style="cursor: url(&quot;http://api0.map.bdimg.com/images/openhand.cur&quot;) 8 8, default;">
                    <div class="BMap_smcbg"></div>
                </div>
            </div>
            <div class="BMap_zlHolder">
                <div class="BMap_zlSt">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlCity">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlProv">
                    <div class="BMap_smcbg"></div>
                </div>
                <div class="BMap_zlCountry">
                    <div class="BMap_smcbg"></div>
                </div>
            </div>
        </div>
        <div class="BMap_stdMpGeolocation"
             style="position: initial; display: none; margin-top: 43px; margin-left: 10px;">
            <div class="BMap_geolocationContainer"
                 style="position: initial; width: 24px; height: 24px; overflow: hidden; margin: 0px; box-sizing: border-box;">
                <div class="BMap_geolocationIconBackground"
                     style="width: 24px; height: 24px; background-image: url(http://api0.map.bdimg.com/images/navigation-control/geolocation-control/pc/bg-20x20.png); background-size: 20px 20px; background-position: 3px 3px; background-repeat: no-repeat;">
                    <div class="BMap_geolocationIcon"
                         style="position: initial; width: 24px; height: 24px; cursor: pointer; background-image: url('http://api0.map.bdimg.com/images/navigation-control/geolocation-control/pc/success-10x10.png'); background-size: 10px 10px; background-repeat: no-repeat; background-position: center;"></div>
                </div>
            </div>
        </div>
    </div>
    <div unselectable="on" class=" BMap_cpyCtrl BMap_noprint anchorBL"
         style="cursor: default; white-space: nowrap; color: black; background: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 11px; line-height: 15px; font-family: arial, sans-serif; bottom: 2px; right: auto; top: auto; left: 2px; position: absolute; z-index: 10; text-size-adjust: none;">
        <span _cid="1" style="display: inline;"><span
                style="background: rgba(255, 255, 255, 0.701961);padding: 0px 1px;line-height: 16px;display: inline;height: 16px;">©&nbsp;2017 Baidu - GS(2015)2650号&nbsp;- Data © 长地万方</span></span>
    </div>
</div>
<script src="../js/map.js"></script>
<script>
    new WOW().init();
</script>