<link rel="stylesheet" href="../css/fw.css"/>
<div class="SuperZhe-top text-center">
    <span class="text-center">服务中心</span>
</div>
<ul class="SuperZhe-nev col-sm-12 col-lg-12">
    <li class="SuperZhe-index "><i class="fa fa-map-marker"></i><a href="index.html">首页</a></li>
    <li><img src="images/breacrum.png" alt="图片加载失败" class="img-responsive"/></li>
    <li ><a href="#">服务中心</a></li>
</ul>
<section class="wz_zt  container">
    <section class="wz_xt row">
        <p class="wz_kt ">站在用户的角度思考问题，与客户深入沟通，找到网站设计与推广的最佳解决方案 <br/>
            凭借多年的经验，让设计与互联网技术完美结合，创造个性化、用户体验好的作品，监测与分析访问统计数据，提供有价值的建议，提高访客转化率</p>
        <div class="wz_sx"></div>
        <div class="col-sm-6  col-sm-6 wz_xt_left ">
            <div class="one dw wow animated fadeInUp">
                <div class="tupian">
                    <i class="first"></i>
                </div>
                <div class="text">
                    <h4>商城开发</h4>
                    <p>专注中小企业营销型网站建设8年多的经验,原创设计高格调的网站，可完美兼容PC、Pad、手机等不同终端，提供一站式、专业化的网站建设与维护服务.</p>
                </div>
            </div>
            <div class="one dw wow animated fadeInUp">
                <div class="tupian">
                    <i class="second"></i>
                </div>
                <div class="text">
                    <h4>网站优化与推广</h4>
                    <p>通过一整套技巧性、持续性的工作，提升网站对搜索引擎的吸引力，确保指定关键词排名百度首页，并通过信息发布、等方式提高网站曝光率.</p>
                </div>
            </div>
            <div class="two dw wow animated fadeInUp">
                <div class="tupian">
                    <i class="third"></i>
                </div>
                <div class="text">
                    <h4>IDC业务</h4>
                    <p>域名注册、企业邮箱、云服务器</p>
                </div>
            </div>
            <div class="three dw wow animated fadeInUp">
                <div class="tupian">
                    <i class="fourth"></i>
                </div>
                <div class="text">
                    <h4>手机网站、微新闻网站开发、微信运营分析规划</h4>
                    <p>平台搭建、优化、更新，个性化图文推送， 线上互动策划执行， 线下活动策划，辅助执行. 微信大号推送</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6  col-sm-6 wz_xt_right">
            <div class="one dw wow animated fadeInUp">
                <div class="tupian">
                    <i class="first"></i>
                </div>
                <div class="text">
                    <h4>网站建设</h4>
                    <p>专注中小企业营销型网站建设8年多的经验,原创设计高格调的网站，可完美兼容PC、Pad、手机等不同终端，提供一站式、专业化的网站建设与维护服务.</p>
                </div>
            </div>
            <div class="one dw wow animated fadeInUp">
                <div class="tupian">
                    <i class="second"></i>
                </div>
                <div class="text">
                    <h4>APP开发</h4>
                    <p>专注于各行业客户提供全平台的移动应用(APP)开发，从客户的实际情况与需求出发进行产品策划、研发APP及发布到各渠道。涵盖iOS、Android及HTML5APP开发.</p>
                </div>
            </div>
            <div class="two dw wow animated fadeInUp">
                <div class="tupian">
                    <i class="third"></i>
                </div>
                <div class="text">
                    <h4>品牌策划</h4>
                    <p>LOGO设计、包装设计、摄影摄像、品牌咨询</p>
                </div>
            </div>
            <div class="two dw wow animated fadeInUp">
                <div class="tupian">
                    <i class="fourth"></i>
                </div>
                <div class="text">
                    <h4>全网营销</h4>
                    <p>博客、视频、百科、问答、微信、微博、B2B平台全网覆盖</p>
                </div>
            </div>
        </div>
    </section>
</section>
<script> new WOW().init()</script>