<link rel="stylesheet" href="../css/xinwen.css"/>
<div class="SuperZhe-top text-center">
    <span class="text-center">客户服务</span>
</div>
<ul class="SuperZhe-nev col-sm-12 col-lg-12">
    <li class="SuperZhe-index "><i class="fa fa-map-marker"></i><a href="index.html">首页</a></li>
    <li><img src="images/breacrum.png" alt="图片加载失败" class="img-responsive"/></li>
    <li ><a href="#">客户服务</a></li>
</ul>
<section class="wz_zt1">
    <section class="wz_xt" style="height:1670px">

        <div class="wz_sx" ></div>
        <div class="wz_data ">
            <div >
                <h2>12日</h2>
                <p>12月</p>
            </div>

            <div >
                <h2>10日</h2>
                <p>12月</p>
            </div>
            <div >
                <h2>14日</h2>
                <p>12月</p>
            </div>
            <div>
                <h2>10日</h2>
                <p>12月</p>
            </div>
            <div>
                <h2>10日</h2>
                <p>12月</p>
            </div>




        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 wz_xt_left">
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-161212094501R2.jpg" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">静态、自适应、流式、响应式四种网页布局的区别</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2016-12-12</p></li>
                                <li class="third">静态布局（StaticLayout） 即传统Web设计，对于PC设计一个Layout，在屏幕宽高有 <br/>调整时，使用横向....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-161210135P5400.jpg" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">微信公众号注册认证步骤及所需材料</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2016-12-10</p></li>
                                <li class="third">越来越多的公司注重微信营销，那么注册并认证微信公众账号是第一步。今天我们就<br/>来讲讲企....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1642521247-0-lp.jpg" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">百度官网认证申请方法和流程</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2015-12-14</p></li>
                                <li class="third">虽然拿下百度官网认证这个权限的人有很多，但大多都是因为申请失败最后给打回来<br/>了，拿着....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 wz_xt_right">
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-1612101G619428.jpg" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">什么是微网站？</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2016-12-10</p></li>
                                <li class="third">微网站是一个以微信作为访问入口的手机网站，可以认为微网站＝手机网站+微信功<br/>能。企业可....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-161210135545593.jpg" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">微信订阅号和服务号的区别</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2016-12-10</p></li>
                                <li class="third">如果你想知道微信订阅号和服务号哪一个更适合自己，或许下面两者之间的对比会帮<br/>助到你。....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br/>
                <ul class="wz_fy" style="left:47%; margin-top: 10px">
                    <li>共 1页5条</li>
                </ul>
            </div>
        </div>
    </section>
</section>
<script> new WOW().init()</script>
<script src="js/kehu.js"></script>