<link rel="stylesheet" href="css/production.css"/>
<link rel="stylesheet" href="component/pagination/style/pagination.css"/>
<div class="SuperZhe-top text-center">
    <span class="text-center">作品案例</span>
</div>
<ul class="SuperZhe-nev col-sm-12 col-lg-12">
    <li class="SuperZhe-index "><i class="fa fa-map-marker"></i><a href="index.html">首页</a></li>
    <li><img src="images/breacrum.png" alt="图片加载失败" class="img-responsive"/></li>
    <li ><a href="#">关于我们</a></li>
</ul>
<div class="container">
    <div class="row">
        <ul class="SuperZhe-nevP">
            <li><a href="#">全部</a></li>
            <li><a href="#">网站建设</a></li>
            <li><a href="#">VI设计</a></li>
            <li><a href="#">移动网站</a></li>
            <li><a href="#">网店装修</a></li>
            <li><a href="#">摄影摄像</a></li>
        </ul>
    </div>
    <div class="SuperZhe-contentP">
        <div class="row">
            <ul>
                <li class="col-sm-4 col-xs-12 col-md-4 col-lg-4 ">
                    <div  class="clearfix">
                        <img src="images/1.jpg" alt="图片加载失败" class="img-responsive"/>
                        <a href="#">上海公鼎律师事务所网络服务</a>
                        <a href="#" class="SuperZhe-adminP">设计师：<i class="fa fa-user"></i>&nbsp;admin</a>
                        <span class="btn btn-primary ">快速浏览</span>
                        <span class="btn btn-primary">查看详情</span>
                    </div>
                </li>
                <li class="col-sm-4 col-xs-12 col-md-4 col-lg-4">
                    <div class="clearfix">
                        <img src="images/2.jpg" alt="图片加载失败" class="img-responsive"/>
                        <a href="#">上市公司致远绿色能源股份有限公司</a>
                        <a href="#" class="SuperZhe-adminP">设计师：<i class="fa fa-user"></i>&nbsp;admin</a>
                        <span class="btn btn-primary">快速浏览</span>
                        <span class="btn btn-primary">查看详情</span>
                    </div>
                </li>
                <li class="col-sm-4 col-xs-12 col-md-4 col-lg-4">
                    <div  class="clearfix">
                        <img src="images/3.jpg" alt="图片加载失败" class="img-responsive"/>
                        <a href="#">纽诺新风品牌官网设计</a>
                        <a href="#" class="SuperZhe-adminP">设计师：<i class="fa fa-user"></i>&nbsp;admin</a>
                        <span class="btn btn-primary">快速浏览</span>
                        <span class="btn btn-primary">查看详情</span>
                    </div>
                </li>
                <li class="col-sm-4 col-xs-12 col-md-4 col-lg-4">
                    <div  class="clearfix">
                        <img src="images/4.jpg" alt="图片加载失败" class="img-responsive"/>
                        <a href="#">上海擎速赛事策划有限公司响应式网站建设</a>
                        <a href="#" class="SuperZhe-adminP">设计师：<i class="fa fa-user"></i>&nbsp;admin</a>
                        <span class="btn btn-primary">快速浏览</span>
                        <span class="btn btn-primary">查看详情</span>
                    </div>
                </li>
                <li class="col-sm-4 col-xs-12 col-md-4 col-lg-4">
                    <div  class="clearfix">
                        <img src="images/5.jpg" alt="图片加载失败" class="img-responsive"/>
                        <a href="#">摩登經典城市休闲连锁餐饮品牌网页设计</a>
                        <a href="#" class="SuperZhe-adminP">设计师：<i class="fa fa-user"></i>&nbsp;admin</a>
                        <span class="btn btn-primary">快速浏览</span>
                        <span class="btn btn-primary">查看详情</span>
                    </div>
                </li>
                <li class="col-sm-4 col-xs-12 col-md-4 col-lg-4">
                    <div  class="clearfix">
                        <img src="images/6.jpg" alt="图片加载失败" class="img-responsive"/>
                        <a href="#">美信达科技能源设备有限公司（美资）网站建设</a>
                        <a href="#" class="SuperZhe-adminP">设计师：<i class="fa fa-user"></i>&nbsp;admin</a>
                        <span class="btn btn-primary">快速浏览</span>
                        <span class="btn btn-primary">查看详情</span>
                    </div>
                </li>
                <li class="col-sm-4 col-xs-12 col-md-4 col-lg-4">
                    <div  class="clearfix">
                        <img src="images/7.jpg" alt="图片加载失败" class="img-responsive"/>
                        <a href="#">美国领导力合作协会中国分部网站建设</a>
                        <a href="#" class="SuperZhe-adminP">设计师：<i class="fa fa-user"></i>&nbsp;admin</a>
                        <span class="btn btn-primary">快速浏览</span>
                        <span class="btn btn-primary">查看详情</span>
                    </div>
                </li>
                <li class="col-sm-4 col-xs-12 col-md-4 col-lg-4">
                    <div  class="clearfix">
                        <img src="images/8.jpg" alt="图片加载失败" class="img-responsive"/>
                        <a href="#">德国联合钢铁公司上海代表处网站建设</a>
                        <a href="#" class="SuperZhe-adminP">设计师：<i class="fa fa-user"></i>&nbsp;admin</a>
                        <span class="btn btn-primary">快速浏览</span>
                        <span class="btn btn-primary">查看详情</span>
                    </div>
                </li>
                <li class="col-sm-4 col-xs-12 col-md-4 col-lg-4">
                    <div  class="clearfix">
                        <img src="images/9.jpg" alt="图片加载失败" class="img-responsive"/>
                        <a href="#">香港丰瑞国际贸易有限公司外贸（英文）网站建设</a>
                        <a href="#" class="SuperZhe-adminP">设计师：<i class="fa fa-user"></i>&nbsp;admin</a>
                        <span class="btn btn-primary">快速浏览</span>
                        <span class="btn btn-primary">查看详情</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="M-box3"></div>
</div>
<script src="../component/pagination/script/jquery.pagination.js"></script>
<script>
    new WOW().init();
    new WOW().init();
    $('.M-box3').pagination({
        pageCount:11,
        jump:true,
        coping:true,
        homePage:'首页',
        endPage:'末页',
        prevContent:'上页',
        nextContent:'下页'
    });
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>