<link rel="stylesheet" href="../css/xinwen.css"/>
<div class="SuperZhe-top text-center">
    <span class="text-center">新闻中心</span>
</div>
<ul class="SuperZhe-nev col-sm-12 col-lg-12">
    <li class="SuperZhe-index "><i class="fa fa-map-marker"></i><a href="index.html">首页</a></li>
    <li><img src="images/breacrum.png" alt="图片加载失败" class="img-responsive"/></li>
    <li ><a href="#">客户服务</a></li>
</ul>
<section class="wz_zt1">
    <section class="wz_xt" style="padding: 0 300px">

        <div class="wz_sx"></div>
        <div class="wz_data ">
            <div >
                <h2>04日</h2>
                <p>02月</p>
            </div>

            <div >
                <h2>25日</h2>
                <p>01月</p>
            </div>
            <div >
                <h2>22日</h2>
                <p>12月</p>
            </div>
            <div>
                <h2>20日</h2>
                <p>12月</p>
            </div>
            <div>
                <h2>01日</h2>
                <p>12月</p>
            </div>
            <div >
                <h2>25日</h2>
                <p>01月</p>
            </div>
            <div>
                <h2>27日</h2>
                <p>12月</p>
            </div>
            <div >
                <h2>20日</h2>
                <p>12月</p>
            </div>
            <div >
                <h2>15日</h2>
                <p>12月</p>
            </div>
            <div >
                <h2>29日</h2>
                <p>11月</p>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 wz_xt_left">
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-1F2041330133K.jpg" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">拍摄公司团队照片的正确姿势</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2017-02-04</p></li>
                                <li class="third">好的图片能直观、有效地传达一个公司的品味与实力。在长期的网站建设实践中，小 <br/>编浏览过....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-1F11G63052354.jpg" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">优秀员工年终总结选摘</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2017-01-25</p></li>
                                <li class="third">2016年就快过去了，回首2016年的工作，有硕果累累的喜悦，有与同事协同一起攻克<br/>难关的艰辛，....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-161222161I51T.gif" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">回顾2016年，互联网促进商业经济</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2016-12-22</p></li>
                                <li class="third">互联网时代就是要充分的利用互联网促进经济发展，通俗地讲，就是赚钱。现在看<br/>来，互联网....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-1612201GU1310.gif" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">最佳用户体验，您会怎么做？</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2016-12-20</p></li>
                                <li class="third">一直以来，互联网行业的发展备受关注，各大企业纷纷与互联网接洽，依据网络的力<br/>量来提升....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-1612011F2464N.gif" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">网站成为强大的商业系统!</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2016-12-01</p></li>
                                <li class="third">在网站建设的早期，网站大多只是单纯的文本，万维网出现之后，图像、声音、动<br/>画、视频等....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 wz_xt_right">
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-1F125142UK56.jpg" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">2016年终总结</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2017-01-25</p></li>
                                <li class="third">Achievement 1、 业绩：展翅战略见到成效，业绩比2015年增长一倍 一年半以前，<br/>公司开始执行向两....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-16122GIR9262.gif" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">新零售时代来临，企业需利用网站建设平台</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2016-12-27</p></li>
                                <li class="third">每年都会有的双十一狂欢节到今年结束已经走过了第八个年头，从最初的5000万销售<br/>额到今年的....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-1612201GHT13.gif" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">解读2016互联网发展</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2016-12-20</p></li>
                                <li class="third">2016年即将过去，这一年风平浪静也是创新沸腾的一年，既没有大企业的崛起，也没 <br/>有大公司倒....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-1612151I5432V.gif" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">建设用户感兴趣的网站四步骤</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2016-12-15</p></li>
                                <li class="third">一、清晰简单化的设计 每一个访问你网站的用户都希望直观清晰看到自己想要的信<br/>息，所以网....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="one">
                        <div class="wz_bk">
                            <ul class="two">
                                <li><img src="images/1-1612201GU1310.gif" alt="这是一个图片"/></li>
                                <li class="first"><h3><a href="#">网络营销—搞好企业网站建设</a></h3></li>
                                <li class="second"><p>作者：<span class="fa fa-user"></span> admin	 <span class="fa fa-calendar"></span> 发布时间：2016-11-29</p></li>
                                <li class="third">网络时代，企业要通过网络提供产品与服务，满足消费者的需求，从而获得生存与发<br/>展。网站....</li>
                                <li class="fourth"><a href="#" class="btn btn-info">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="wz_fy">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">下一页</a></li>
                    <li><a href="#">末页</a></li>
                    <li>共 16页158条</li>
                </ul>
            </div>
        </div>
    </section>
</section>
<script src="js/fuwu.js"></script>