body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.SuperZhe-top {
  margin-top: 120px;
  height: 125px;
  background-image: url('../images/images-top.jpg');
  background-size: cover;
}
.SuperZhe-top span {
  padding-bottom: 5px;
  width: 225px;
  font-size: 40px;
  font-weight: 400;
  height: 100px;
  color: #ffffff;
  line-height: 120px;
  border-bottom: 2px solid #c5d1d5;
}
@media screen and (max-width: 450px) {
  .SuperZhe-nev {
    height: 50px;
    background-color: #f5f5f5;
    margin-bottom: 25px;
  }
  .SuperZhe-nev .SuperZhe-index {
    position: relative;
  }
  .SuperZhe-nev li {
    float: left;
  }
  .SuperZhe-nev li img {
    height: 50px;
  }
  .SuperZhe-nev li a {
    display: inline-block;
    height: 50px;
    width: 80px;
    padding: 0 10px;
    color: #0C80D1;
    text-align: center;
    line-height: 50px;
  }
  .SuperZhe-nev li a:hover {
    text-decoration: none;
  }
  .SuperZhe-nev li i {
    position: absolute;
    top: 15px;
    left: 0;
  }
  .SuperZhe-nev li .fa-map-marker {
    font-size: 14px;
    margin-right: 10px;
    color: #0C80D1;
  }
}
@media screen and (min-width: 451px) {
  .SuperZhe-nev {
    height: 100px;
    padding: 1px 100px;
    background-color: #f5f5f5;
    border: 1px solid #f9f9f9;
    margin-bottom: 25px;
  }
  .SuperZhe-nev .SuperZhe-index {
    position: relative;
  }
  .SuperZhe-nev li {
    float: left;
  }
  .SuperZhe-nev li a {
    display: inline-block;
    height: 100px;
    width: 100px;
    padding: 0 20px;
    color: #0C80D1;
    text-align: center;
    line-height: 100px;
    background-size: cover;
  }
  .SuperZhe-nev li a:hover {
    text-decoration: none;
  }
  .SuperZhe-nev li i {
    position: absolute;
    top: 35px;
    left: 0;
  }
  .SuperZhe-nev li .fa-map-marker {
    font-size: 24px;
    margin-right: 10px;
    color: #0C80D1;
  }
}
.wz_zt1 {
  margin-top: 120px;
}
.wz_zt1 .wz_xt {
  position: relative;
  height: 2750px;
  padding: 70px 0 50px;
  background: #fff;
}
.wz_zt1 .wz_xt .wz_sx {
  background: none repeat scroll 0 0 #e8eef0;
  display: inline-block;
  height: 93.5%;
  left: 50%;
  position: absolute;
  width: 5px;
}
.wz_zt1 .wz_xt .wz_data {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white ;
  position: absolute;
  left: 48.3%;
  background: #3498db;
  color: white;
  text-align: center;
}
.wz_zt1 .wz_xt .wz_data div {
  height: 100%;
  margin-top: 8px ;
  font-family: 'Microsoft Yahei', sans-serif;
}
.wz_zt1 .wz_xt .wz_data div h2 {
  font-size: 19px ;
  font-weight: 600 ;
}
.wz_zt1 .wz_xt .wz_data div p {
  font-size: 12px ;
}
.wz_zt1 .wz_xt .wz_data:after {
  border-top: 12px solid #3498db;
  border-left: 12px solid rgba(0, 0, 0, 0);
  border-right: 12px solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: 12px;
  top: 45px;
}
.wz_zt1 .wz_xt .wz_xt_left {
  position: absolute;
  top: 70px;
  left: 0;
  padding-left: 106px;
  width: 50%;
}
.wz_zt1 .wz_xt .wz_xt_left .wz_bk:before {
  border-left: 13px solid white;
  position: absolute;
  right: 17px;
  top: 62px;
}
.wz_zt1 .wz_xt .wz_xt_left .two:before {
  border-left: 13px solid #f6f6f6;
  position: absolute;
  right: 18px;
  top: 62px;
}
.wz_zt1 .wz_xt .wz_xt_left .two:after {
  position: absolute;
  right: -12px;
  top: 66px;
}
.wz_zt1 .wz_xt .wz_xt_right {
  position: absolute;
  top: 70px;
  left: 680px;
  padding-left: 20px;
}
.wz_zt1 .wz_xt .wz_xt_right .wz_bk:before {
  border-right: 13px solid white;
  position: absolute;
  left: -3px;
  top: 62px;
}
.wz_zt1 .wz_xt .wz_xt_right .two:before {
  border-right: 13px solid #f6f6f6;
  position: absolute;
  left: -2px;
  top: 62px;
}
.wz_zt1 .wz_xt .wz_xt_right .two:after {
  position: absolute;
  left: -31px;
  top: 66px;
}
.wz_zt1 .wz_xt .one {
  padding: 0 0 35px;
  margin-right: 30px;
  position: relative;
  width: 570px;
}
.wz_zt1 .wz_xt .one ul {
  margin: 0 30px 0 10px ;
  padding: 0 15px;
  border: 1px solid #e5ecef;
  height: 100%;
  background: #F6F6F6;
}
.wz_zt1 .wz_xt .one ul img {
  padding-top: 15px  ;
  width: 100%;
}
.wz_zt1 .wz_xt .one ul .first {
  margin-bottom: 15px;
}
.wz_zt1 .wz_xt .one ul .first h3 {
  font-size: 150%;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #2f383d;
  margin: 10px 0 0;
}
.wz_zt1 .wz_xt .one ul .first h3 a {
  font-family: 'Microsoft Yahei', sans-serif;
  font-size: 20px;
  color: #272727;
  font-weight: 400;
}
.wz_zt1 .wz_xt .one ul .second {
  padding: 10px 0;
  margin: 0 -15px;
  border-top: 1px solid #e5ecef;
  border-bottom: 1px solid #e5ecef;
}
.wz_zt1 .wz_xt .one ul .second p {
  padding: 0 15px;
  color: #3498db;
  font-size: 12px;
  font-family: 'Microsoft Yahei', sans-serif;
  font-weight: 400;
}
.wz_zt1 .wz_xt .one ul .second p span {
  display: inline-block;
  width: 20px;
  height: 13px;
  text-align: right;
}
.wz_zt1 .wz_xt .one ul .second p span.fa-calendar {
  width: 25px;
  margin-left: 5px ;
  border-left: 2px solid #3498db;
}
.wz_zt1 .wz_xt .one ul .third {
  font-size: 13px;
  font-weight: 500;
  color: #99abb7;
  margin: 1em 0;
  line-height: 25px;
}
.wz_zt1 .wz_xt .one ul .fourth {
  margin-bottom: 5px;
}
.wz_zt1 .wz_xt .two:before {
  border-bottom: 12px solid rgba(0, 0, 0, 0);
  border-top: 12px solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  width: 0;
}
.wz_zt1 .wz_xt .two:after {
  content: "";
  height: 20px;
  width: 20px;
  border: 5px solid #eef;
  padding: 5px;
  background: #21c2f8;
  border-radius: 50%;
  z-index: 99;
}
.wz_zt1 .wz_xt .wz_bk:before {
  border-bottom: 12px solid rgba(0, 0, 0, 0);
  border-top: 12px solid rgba(0, 0, 0, 0);
  content: "";
  height: 0;
  width: 0;
}
.wz_zt1 .wz_xt .one:hover .two {
  border-color: #3498db;
}
.wz_zt1 .wz_xt .one:hover .two li {
  border-color: #3498db;
}
.wz_zt1 .wz_xt .one:hover .two .btn {
  background: #505050;
  border-color: #505050;
}
.wz_zt1 .wz_xt .one:hover .wz_bk:before {
  border-left-color: #3498db ;
  border-right-color: #3498db ;
}
.wz_zt1 .wz_fy {
  position: absolute;
  bottom: 0;
  left: 32%;
}
.wz_zt1 .wz_fy li {
  float: left;
  margin: 5px ;
  background: #EEEEEE;
  line-height: 20px;
  padding: 5px 8px;
}
.wz_zt1 .wz_fy li a {
  display: inline-block;
  font-size: 12px;
  font-family: 'Microsoft Yahei', sans-serif;
  color: #505050;
}
